{% extends "layout.jinja2" %}

{% block pagestyles %}
    <link href="{{ url_for('static', filename='dist/css/dashboard.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.typekit.net/sus7rlu.css">
{% endblock %}

{% block additionalscripts %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      var socket;
            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
                socket.on('connect', function() {
                    socket.emit('joined', {});
                });
                socket.on('status', function(data) {
                    $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                socket.on('message', function(data) {
                    data.forEach(function callback(data) {
                      $('#chat').val($('#chat').val() + data.user + ': ' + data.msg + '\n');
                      $('#chat').scrollTop($('#chat')[0].scrollHeight);
                    })
                });
                socket.on('clean', function(data) {
                    $('#chat').val('');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                $('#text').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        text = $('#text').val();
                        $('#text').val('');
                        socket.emit('text', {msg: text});
                    }
                });
            });
            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();

                    // go back to the login page
                    window.location.href = "{{ url_for('main_bp.logout') }}";
                });
            }
    </script>
{% endblock %}


{% block content %}
    <h1>{{ body }}</h1>

    {% if current_user.is_authenticated %}
        <p>Hi {{ current_user.name }}!</p>
        <a href="{{ url_for('main_bp.logout') }}">Log out</a>
        <h1>Chat: {{ room }}</h1>
        <textarea id="chat" cols="80" rows="20" readonly></textarea><br><br>
        <input id="text" size="80" placeholder="Enter your message here"><br><br>
        <a href="#" onclick="leave_room();">Leave this room</a>
    {% endif %}

{% endblock %}
